[autotune_tmc extruder]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
[autotune_tmc stepper_x]
motor: shengyang-42bygh3025-3m-25d
tuning_goal: auto

[autotune_tmc stepper_y]
motor: shengyang-42bygh3025-3m-25d
tuning_goal: auto

[autotune_tmc stepper_z]
motor: shengyang-42bygh2265-a-26dnt
tuning_goal: auto

[autotune_tmc extruder]
motor: shengyang-36byg1510-1m-6qt
tuning_goal: auto